body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.titleOne{
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    border: 2px solid crimson;
    background-color: white;
}

h3{
    text-align: center;
    font-size: x-large;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    border: 2px solid crimson;
    background-color: white;
}

.textNone{
    text-decoration: none;
}

.textInherit{
    text-decoration: inherit;
}

.textOverline{
    text-decoration: overline;
}

.textUnderline{
    text-decoration: underline;
}

.textLineThrough{
    text-decoration: line-through;
}

.dunaImg{
    padding: 80px 10px 80px 10px;
    border: 5px solid black;
}

.dunaImg2{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 5px solid black
}

.borderDiv{
    padding: 10px 10px 10px 10px;
    border: 4px solid salmon;
    text-align: justify;
}

.borderWithDiv{
    border: 0px solid red;
    border-width: 35px 5px 5px 5px;
    padding: 15px 15px 15px 15px;
    text-align: center;
}

.borderColorDiv{
    border: 10px solid;
    border-color: blueviolet;
    border-top-width: 4px;
    border-bottom-width: 4px;
    /*border-left-width: 5px;*/
    /*border-right-width: 5px;*/
    padding: 15px 15px 15px 15px;
    text-align: justify;
}

.border1{
    border: 7px solid blue;
}

.border2{
    border: solid;
    border-width: 8px;
}

.border3{
    border: solid yellow;
    border-width: 7px 8px 4px 5px;
}

.border4{
    border: solid green;
    border-bottom-width: 4px;
    border-top-width: 7px;
    border-left-width: 5px;
    border-right-width: 8px;
}

.border5{
    border: 10px solid;
    border-color: blue;
}

.border6{
    border: 30px solid;
    border-color: red blue yellow green;
}

.border7{
    border: 30px solid;
    border-top-color: red;
    border-bottom-color: blue;
    border-left-color: yellow;
    border-right-color: green;
}

.borderHidden{
    border: 5px;
    border-style: hidden;
    text-align: center;
    padding: 15px;
}

.borderNone{
    border: 5px;
    border-style: none;
    text-align: center;
    padding: 15px;
}

.borderSolid{
    border: 7px rosybrown;
    border-style: solid;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.borderDotted{
    border: 8px skyblue;
    border-style: dotted;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.borderDashed{
    border: 7px darkorange;
    border-style: dashed;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.borderDouble{
    border: 8px peru;
    border-style: double;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.borderGroove{
    border: 8px firebrick;
    border-style: groove;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.borderRigde{
    border: 8px antiquewhite;
    border-style: ridge;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.borderInset{
    border: 8px darkmagenta;
    border-style: inset;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.borderOutset{
    border: 8px goldenrod;
    border-style: outset;
    text-align: center;
    padding: 15px 0px 15px 0px;
}